{% extends 'base.html' %}

{% block menu %}
{% include 'menu.html' %}
{% endblock%}

{% block principal %}
{% load static %}
<link media="all" href="{% static 'c3/c3.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'c3/c3.min.js' %}'></script>
<div id="chart"></div>

<script>
var columns = {{ chart_columns|safe }};
var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: columns,
      onclick: function (d, i) { /* ... */ }
    }
});
</script>

{% endblock %}
