{% extends 'base.html' %}

{% block menu %}
{% include 'menu_master.html' %}
{% endblock%}

{% block principal %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">LLISTAT DE REGISTRES: </div>

  <!-- Table -->
  <table class="table">
<tr>
<th> DATE</th>
<th> BOKEH-HR</th>
<th> BOKEH-HRV</th>
<th> AGE</th>
<th> HEIGHT</th>
<th> WEIGHT</th>
<th> MAX HR</th>
<th> MIN HR</th>
<th> AVG HR</th>
<th> AVG HRV</th>
<th> DATEND</th>

</tr>
 
	{% for user in usuari %}
	<tr>
	<td> {{ user.date }} </td>
   	<td><a href="/chart/{{ user.id }}">veure</a></li>
   	<td><a href="/chart4/{{ user.id }}">veure</a></li>
	<td> {{ user.age }} </td>
	<td> {{ user.height }} </td>
	<td> {{ user.weight }} </td>
	<td> {{ user.maxim }} </td>
	<td> {{ user.minim }} </td>
	<td> {{ user.averagehr }} </td>
	<td> {{ user.averagehrv }} </td>
	<td> {{ user.datend }} </td>
	</tr>
	{% endfor %}
  </table>
</div>
{% endblock %}
